In [12]:
import tensorflow as tf
from tensorflow import feature_column
from tensorflow.keras import layers
#tf.enable_eager_execution()
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import numpy as np

In [13]:
dataMA = pd.read_csv("encoded_data_input_V1_MA.csv")

In [14]:
dataMA.head()

,HHSIZE,HHVEHCNT,DRIVER_0,DRIVER_1,EDUC_1,EDUC_2,EDUC_3,EDUC_4,EDUC_5,URBANSIZE_1,URBANSIZE_2,URBANSIZE_3,URBANSIZE_4,URBANSIZE_5,URBANSIZE_6,URBRUR_1,URBRUR_2
0,0.899427,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0
1,0.899427,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0
2,0.899427,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0
3,0.899427,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0
4,1.798855,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0

In [15]:
def df_to_np(dataframe,shuffle=True,batch_size=32,target="HHVEHCNT"):
    dataframe = dataframe.copy()
    labels = dataframe.pop(target)
    return dataframe.values, labels.values

In [16]:
train_X, train_y = df_to_np(dataMA)
print(train_X.shape)
print(train_y.shape)

(3211, 16)
(3211,)

In [22]:
model = tf.keras.Sequential([
  tf.keras.layers.Dense(128,activation="relu"),
  tf.keras.layers.Dense(128),
  #tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(128),
  #tf.keras.layers.Dropout(0.5),
  tf.keras.layers.Dense(128),
  tf.keras.layers.Dense(64,activation="relu"),
  tf.keras.layers.Dense(4,activation="softmax")
])

model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

model.fit(x=train_X, y = train_y,epochs=5, batch_size = 100, validation_split=0.2, shuffle=True)

Train on 2568 samples, validate on 643 samples
Epoch 1/5
2568/2568 [==============================] - 1s 298us/sample - loss: 1.0790 - accuracy: 0.5467 - val_loss: 1.0377 - val_accuracy: 0.5645
Epoch 2/5
2568/2568 [==============================] - 0s 63us/sample - loss: 0.8709 - accuracy: 0.6569 - val_loss: 1.0372 - val_accuracy: 0.4883
Epoch 3/5
2568/2568 [==============================] - 0s 53us/sample - loss: 0.8093 - accuracy: 0.6873 - val_loss: 1.0414 - val_accuracy: 0.5381
Epoch 4/5
2568/2568 [==============================] - 0s 45us/sample - loss: 0.7726 - accuracy: 0.6963 - val_loss: 1.0550 - val_accuracy: 0.5630
Epoch 5/5
2568/2568 [==============================] - 0s 43us/sample - loss: 0.7430 - accuracy: 0.7056 - val_loss: 1.1250 - val_accuracy: 0.5505